
/* HEADER - INICIO */


.navbar-collapse {

    display: grid;
    justify-content: center;
    margin-right: 200px;

}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-imagen-titulo {

    height: 60px;
    width: 60px;

}


/* HEADER - FIN */


/* CARDS - INICIO */


.cards-contenedor {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
    justify-items: center;
    margin-top: -30px;


}

.cards {


    background-color: red;
    width: 90%;
    height: 600px;
    font-size: 30px;
    margin-top: 70px;
   text-align: center;


}