
/* HEADER - INICIO */


.navbar-collapse {

    display: grid;
    justify-content: center;
    margin-right: 200px;

}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-imagen-titulo {

    height: 60px;
    width: 60px;

}


/* HEADER - FIN */


/* CARDS - INICIO */


.cards-contenedor {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
    justify-items: center;
    margin-top: -30px;
    margin-bottom: 30px;


}

.cards {


    background-color: red;
    width: 90%;
    height: 300px;
    font-size: 30px;
    margin-top: 70px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    position: relative;


}

.cards:hover {

    box-shadow: 2px 2px 10px palevioletred;

}

.cards-imagen {

    height: 100%;

}

.cards-id {

    position: absolute;
    right: 10px;
    font-size: 25px;

}