/* CARDS-PERSONAJES - INICIO */


.cards-personajes-contenedor {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: -30px;
    margin-bottom: 30px;


}

.cards-personajes {


    background-color: $color-fondo-card;
    width: 90%;
    font-size: 25px;
    margin-top: 70px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    position: relative;
    border-radius: 20px;
    color: $color-letra;
   
}

.cards-personajes:hover {

    box-shadow: 2px 2px 5px cyan,  -5px -5px 10px $color-borde-card;

}

.cards-personajes-imagen {

    border-radius: 10px;
    padding-right: 1px;

}

.cards-personajes-id {

    position: absolute;
    right: 10px;
    font-size: 20px;
   

}

.cards-margen {

    margin-top: 70px;

}

/* CARDS-PERSONAJES - FIN */