
/* GENERALES - INICIO */
*{

    margin: 0;
    padding: 0;

}

body {

    background-image: url("https://i.pinimg.com/originals/09/29/03/092903f1adf553f2bdf29fe12445f8f5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    
}


/* GENERALES - FIN */
