
/* GENERALES - INICIO */
*{

    margin: 0;
    padding: 0;

}

body {

  
    background-image: url("https://resizing.flixster.com/xqwm6IwizNOlJk2-V9pOhcZHcpU=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11928964_b_v8_ac.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; /* Asegura que la imagen no se repita */
    background-size: cover;
}




/* GENERALES - FIN */
