/* HEADER - INICIO */

.navbar {

    background-color: $color-header;
    

}

.nav-link {

    color: black;
    font-weight: bold;

}


.navbar-collapse {

    display: grid;
    justify-content: center;


}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-imagen-titulo {

    height: 60px;
    width: 90px;
    background-color: green;

}


/* HEADER - FIN */