@media screen and (min-width: 0px) and (max-width: 576px) {
    
    .cards-personajes-contenedor {

        grid-template-columns: 1fr;

    }
    .cards-personajes {
       
        font-size: 17px;
        height: 200px;
       
    }

    .cards-personajes-imagen {

        width: 200px;
        height: 200px;
    
    }

    .cards-margen {

        margin-top: 50px;
    
    }

    body {

       
        background-image: url("https://i.pinimg.com/originals/b3/e5/b5/b3e5b577f7cc93f812d8d73a04799660.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat; /* Asegura que la imagen no se repita */
        background-size: 500px;
    }

}

@media screen and (min-width: 557px) and (max-width: 740px) {
    

     
    .cards-personajes-contenedor {

        grid-template-columns: 1fr 1fr;

    }

    .cards-personajes {
       
        font-size: 15px;
        height: 230px;
       
    }

    .cards-personajes-imagen {

        width: 150px;
        height: 230px;
    
    }

    .cards-margen {

        margin-top: 70px;
    
    }

  
    
    
}


@media screen and (min-width: 741px) and (max-width: 992px) {
    
    .cards-personajes-contenedor {

        grid-template-columns: 1fr 1fr;

    }

    .cards-personajes {
       
        font-size: 18px;
        height: 230px;
       
    }

    .cards-personajes-imagen {

        width: 210px;
        height: 230px;
    
    }

    .cards-margen {

        margin-top: 60px;
    
    }


}

@media screen and (min-width: 992px) and (max-width: 1470px) {
    
    .cards-personajes-contenedor {

        grid-template-columns: 1fr 1fr 1fr;

    }

    .cards-personajes {
       
        font-size: 15px;
        height: 280px;
       
    }

    .cards-personajes-imagen {

        width: 180px;
        height: 280px;
    
    }

    .cards-margen {

        margin-top: 90px;
    
    }

 


}

